
  <h1 class="form--title">Formularios</h1>
    <form (ngSubmit)="onRegister" #myForm="ngForm" class = "form-group"
    [ngStyle]="{
      'font-family': formStyle.font,
      'width.px': formStyle.width,
      'padding.px': formStyle.padding,
      'border-radius': formStyle.radius,
      'padding': formStyle.padding,
      'box-shadow': formStyle.shadow
    }">
      <div class = "input-group">
        <br>
        <label for = "name">Nombre: </label>
        <br>
        <input type = "text" name = "name" required id = "name" [(ngModel)] = "register.name">
        <p *ngIf = "register.name === ''">Este campo debe ser llenado</p>
      </div>
      <br>
      <div class = "input-group">
        <label for = "email">Email: </label>
        <br>
        <input type = "email" name = "email" required id = "email" [(ngModel)] = "register.email">
        <p *ngIf = "register.email === ''">Este campo debe ser llenado</p>
      </div>
      <div class = "input-group">
        <br>
        <label for = "password">Password: </label>
        <input type = "password" name = "password" required id = "password" [(ngModel)] = "register.password">
        <p *ngIf = "register.password === ''">Este campo debe ser llenado</p>
      </div>
      <button class="formButton" [disabled]="myForm.invalid" type = "submit">Registrar</button>
    </form>

<br>
 <h1>NgClass & ngStyle</h1>
  <input type = "text" required #nameInput4 = "ngModel" [(ngModel)] = "person.name"/>
  <hr class = "line-error"
    [ngClass] = "{
      'valid' : nameInput4.valid,
      'invalid' : nameInput4.invalid
    }"
    >
  <p class="message-error" [class.invalid]="nameInput4.invalid">
    El campo es requerido...
  </p>
  <div>
    <div>
      <input type="number" [(ngModel)]="box.width">
      <input type="number" [(ngModel)]="box.height">
      <input type="color" [(ngModel)]="box.background">
    </div>
    <div>
    <div [ngStyle]="{
      'width.px': box.width,
      'height.px': box.height,
      'background-color': box.background,
      'display': 'block'
    }"></div>
  </div>
<br>
  <h1>CLASS & STYLE</h1>
  <input type = "text" required #nameInput2 = "ngModel" [(ngModel)] = "person.name"/>
  <p class="message-error" [class.invalid]="nameInput2.invalid">
    El campo es requerido...
  </p>
  <label>Nombre</label>
  <input type = "text" required #nameInput3 = "ngModel" [(ngModel)] = "person.name"/>
  <p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'">texto texto texto texto</p>
  <div class="styles">
    <div>
      <input type="text" [(ngModel)]="widthImg">
    </div>
    <div>
      <img [style.width.px]="widthImg" [src] = "person.avatar">
    </div>
  </div>
<br>
  <h1>NGSWITCH</h1>
  <input type = "text" required [(ngModel)] = "person.name"/>
  <div [ngSwitch]="person.name">
    <p *ngSwitchCase="'Nicolas'">
      La persona es Nicolas
    </p>
    <p *ngSwitchCase="'Rogelio'">
      La persona es Rogelio
    </p>
    <p *ngSwitchCase="'Camilo'">
      La persona es Camilo
    </p>
    <p *ngSwitchCase="'Julian'">
      La persona es Julian
    </p>
    <p *ngSwitchCase="'Yasuri'">
      La persona es Yasuri
    </p>
    <p *ngSwitchDefault>
      Nada que decir
    </p>
  <br>
  <h1>*NGFOR ARRAYS</h1>
  <div class="products--grid">
    <div *ngFor="let product of products">
      <img [src]="product.image" alt="image">
      <h2>{{ product.price }}</h2>
      <p>{{ product.name }}</p>
    </div>
  </div>
<br>
  <h1>*NGFOR</h1>
  <h2>Lista de cosas por comprar en mi vida</h2>
  <input type = "text" required #inputThing = "ngModel" [(ngModel)] = "newThing">
  <button  *ngIf = "inputThing.valid" (click) = "addThing()">Añadir</button>
  <ul>
    <li *ngFor = "let thing of things; index as i">
      {{i}} {{thing}}
      <button (click) = "deleteThing(i)">Delete</button>
    </li>
  </ul>
  <br>
  <input type = "text" required [(ngModel)] = "newName"/>
  <button (click) = "addName()">Add Name</button>
  <ul>
    <li *ngIf = "names.length === 0">NO hay ni un solo nombre canson</li>
    <li *ngFor = "let name of names; index as i">
      {{i}} {{name}}
      <button (click) = "deleteName(i)">Delete</button>
    </li>
  </ul>
<hr>
  <h1>NGIF</h1>
  <input type = "text" required [(ngModel)] = "person.name"/>
  <p *ngIf = "person.name === 'Nicolas'">Soy Nicolas</p>
  <p *ngIf = "person.name === 'Camilo' && person.age === 18">Soy Camilo mucho gusto</p>
  <!-- <ng-template #elseBlock>
    <p>Bloque de else</p>
  </ng-template> -->
<hr>
  <h1> NGMODEL </h1>
  <p>Nombre {{person.name}} </p>
  <input type = "text" required #nameInput = "ngModel" [(ngModel)] = "person.name"/>
  <p>Valid: {{nameInput.valid}} </p>
  <p>Age {{person.age}}</p>
  <input type="number" max = "18" min = "10" #ageInput = "ngModel" [(ngModel)]="person.age"/>
  <p>Valid: {{ageInput.valid}} </p>
<hr>
  <h1> EVENTOS </h1>
  <button [disabled] = "btnDisabled" >Enviar</button>
  <button (click) = "toggleButton()">ToggleButton</button>
  <p>Edad {{person.age}}</p>
  <button (click) = "increaseAge()">Age ++</button>
    <div class = "box" (scroll)="onScroll($event)">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus vel magnam illo velit ex, eum unde ullam sed ratione, doloremque laborum esse dolorem debitis culpa optio quo. Mollitia, totam? Quidem!</p>
    </div>
  <p>Nombre {{person.name}}</p>
  <input type = "text" value = "{{ person.name }}" (keyup) = "changeName($event)">
<hr>
  <h1>PROPIEDADES</h1>
  <button [disabled] = "btnDisabled">Enviar</button>
  <input type = "text" [value] = "person.name">
  <progress max = "100" [value] = "person.age"></progress>
  <img width = "100" [src] = "person.avatar" alt = "imagen">
  <!--<video src="person.gif" type=".mp4" width="420" height="240"></video>-->
<hr>
  <h1>Hola mundo</h1>
  <h2>{{"hola mundo".repeat(5)}}</h2>
  <h3>3+3 = {{3+3}}</h3>
  <h3>Hola, soy {{ name }} y tengo {{ age }}</h3>
  <img src = {{image}} alt = "Yujiro Image">
